@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-weight: bolder;
}


/* width */

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar:hover {
    width: 20px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #3A73BE;
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #3A73BE;
}

.button {
    background-color: #FF0000;
    color: white;
    padding: 8px;
}

.blue {
    background-color: #3A73BE;
}

.yellow {
    background-color: #c4bb1b;
    height: 100vh;
}

.yellow-bg {
    background-color: #c4bb1b;
}

@media (min-width: 768px) {
    .yellow {
        height: 230vh;
    }
}

.sample-bg {
    background: url('./assets/imgs/pattern_1.png');
    background-position: center;
    background-size: cover;
}